@tailwind base;
@tailwind components;
@tailwind utilities;

@layer theme {
  :root {
    --color-tea-50: #f0fdf4;
    --color-tea-100: #dcfce7;
    --color-tea-200: #bbf7d0;
    --color-tea-300: #86efac;
    --color-tea-400: #4ade80;
    --color-tea-500: #22c55e;
    --color-tea-600: #16a34a;
    --color-tea-700: #15803d;
    --color-tea-800: #166534;
    --color-tea-900: #14532d;
    --color-boba-800: #3f2e26;
    --color-boba-900: #281c16;
  }
}
